/* Variables */

$font-header: 'Bebas Neue', cursive;
$font-body: 'Lato', sans-serif;
$h1-size: 75px;
$h2-size: 40px;
$h3-size: 18px;
$logo-size: 26px;
$desription-size: 16px;
$font-size: 14px;

/* Global */

body {
    font-family: $font-body;
    font-size: $font-size;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
}
h1 {
    font-size: $h1-size;
}
h2 {
    font-size: $h2-size;
}
h3 {
    font-size: $h3-size;
}

/* Navbar */
.nav__logo img {
    width: 140px;
}

/* Splash section */

.splash__inner {
    h1, .btn {
        text-transform: uppercase;
    }
}