/* Variables */

$color-main: #227093;
$color-accents: #218c74;
$color-social-media: #ffb142;
$font-headers: "Inconsolata", monospace;
$font-content: "Signika", sans-serif;
$font-color-light: #fff;
$font-color-dark: #2c2c54;
$heading1: 72px;
$heading2: 48px;
$heading3: 24px;
$heading4: 20px;

/* Main styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headers;
}

h1 {
  font-size: $heading1;
  line-height: 1.2;
  word-spacing: -24px;
}

h2 {
  font-size: $heading2;
  margin: 0 0 72px 0;
}

h3 {
  font-size: $heading3;
  margin: 0 0 12px 0;
}

h4 {
  font-size: $heading4;
}

.fullwidth,
.fullwidth-accent {
  width: 100vw;
}

.fullwidth {
  background: #fff;
  color: $font-color-dark;
}
.fullwidth-accent {
  background: $color-accents;
  color: $font-color-light;
}

/* Services section */

.services__number {
  font-size: 144px;
  line-height: 1;
  color: $color-accents;
  font-family: $font-headers;
  font-weight: 900;
  opacity: 0.3;
}
