/* Navbar */

button i {
  font-size: 20px;
  background: #fff;
  width: 40px;
  height: 40px;
  color: #000;
  border-radius: 50%;
  padding: 10px 0;
  margin: 0 10px;
}

/* Slider */

.carousel-inner,
.carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

/* Products */
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Blog */
.blog .card-body {
    top: 30%;
    text-align: center;
}

/* Info section */

.card i {
  font-size: 25px;
}

/* Contact */
.contact {
  background-color: #eff2f5;
}
div.social-media i {
  font-size: 16px;
  padding: 0 2px;
}

.contact span {
  color: #007bff;
}